@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500&display=swap");

/* Regular 400 Medium 500  */
:root {
    --body-Bg-Font: #ffffff;
    --btn-Bg-font: #2c0a2e;
    --grey-Font: #8e8593;
    --border-Color: #dedddf;
    --red-Color: #ff5252;
}

::before,
::after,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    font-family: "Space Grotesk", sans-serif;
    overflow-x: hidden;
}

/* Style för the footer section */
body > div {
    text-align: center;
    padding: 0.5rem;
    width: 100vw;
    background-color: var(--btn-Bg-font);
    color: var(--body-Bg-Font);
}

body > div a {
    text-decoration: none;
}

/* Style for other content and content within those*/

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
}

/* Hide and show with JS */
.form.confirmed {
    display: none;
    /* Add confirmed class to hide form section */
}
.greating {
    display: none;
    /* Change to flex after hideng form section */
}

/* Hero section. Bank cards */
.hero {
    font-size: 1.6rem;
    color: var(--body-Bg-Font);
    font-weight: 500;
    background-image: url("/images/bg-main-mobile.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    width: 100%;
    height: 24rem;
    display: flex;
    flex-direction: column;
    padding: 3.2rem 1rem;
    text-transform: uppercase;
}

.hero-front_img,
.hero-back_img {
    width: 28.6rem;
}

.hero-back {
    margin-left: auto;
    position: relative;
    letter-spacing: 0.1em;
}

.hero-back_cvc {
    position: absolute;
    top: 42%;
    right: 12%;
}

.hero-front {
    margin-right: auto;
    position: relative;
    margin-top: -7rem;
}

.hero-front_imgLogo {
    position: absolute;
    width: 4rem;
    left: 1rem;
    top: 1rem;
}

.hero-front-numbers {
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 50%;
    left: 1rem;
    right: 1rem;
}

.hero-front-info {
    position: absolute;
    bottom: 10%;
    left: 1rem;
    right: 1rem;
    display: flex;
    justify-content: space-between;
    letter-spacing: 0.1em;
    font-size: 1.2rem;
}

/* From field. Style section for from */
.form {
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.16em;
    margin-top: 7.5rem;
    width: 100%;
    padding: 0 1rem;
    transition: opacity 300ms ease;
}

input[name="cardHolderName"],
input[name="cardNumber"] {
    display: block;
    width: 100%;
}

input[name="cardHolderName"] {
    margin-bottom: 2.4rem;
}

input[name="cardHolderName"],
input[name="cardNumber"],
input[name="expMonth"],
input[name="expYear"],
input[name="cvcNum"] {
    color: var(--grey-Font);
    font-family: inherit;
    font-size: 1.8rem;
    border: solid lightgray 0.1rem;
    padding: 1rem 0.5rem;
    border-radius: 0.5rem;
}

input[name="expMonth"],
input[name="expYear"] {
    width: calc(25% - 0.5rem);
    text-transform: uppercase;
}

input[name="cvcNum"] {
    width: calc(50% - 0.5rem);
}

input[type="submit"] {
    width: 100%;
    background-color: var(--btn-Bg-font);
    border: 0;
    color: var(--body-Bg-Font);
    padding: 1rem;
    font-size: 1.8rem;
    font-weight: 500;
    border-radius: 0.5rem;
}

.warning {
    color: var(--red-Color);
    font-size: 1.2rem;
    text-transform: none;
    display: block;
    margin-top: 0.4rem;
    margin-bottom: 0.8rem;
    transition: opacity 300ms ease-in;
    transition: opacity 300ms ease;
}

.warning {
    opacity: 0;
}

/* Confirmation of the submit */
.greating {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.1rem;
    margin-top: 7.5rem;
    width: 100%;
    padding: 0 1rem;
}

.greating-circle {
    background: linear-gradient(180deg, #6448fe 0%, #600594 100%);
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    color: var(--body-Bg-Font);
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3.6rem;
}

.greating-text {
    font-size: 2.6rem;
    color: var(--btn-Bg-font);
    text-transform: uppercase;
    margin-bottom: 1.6rem;
}

.greating-confim {
    font-size: 1.8rem;
    color: var(--grey-Font);
    margin-bottom: 4.8rem;
}

@media only screen and (min-width: 413px) {
    /* Hero section */
    .hero {
        font-size: 2rem;
        align-items: center;
        height: 30rem;
    }
    .hero-front_img,
    .hero-back_img {
        width: 36.3rem;
    }
    .hero-back {
        margin-right: 10%;
    }
    .hero-front {
        margin-left: 10%;
        margin-top: -8rem;
    }
    .hero-front_imgLogo {
        position: absolute;
        width: 5rem;
        left: 2rem;
        top: 2rem;
    }
    .hero-front-numbers {
        gap: 2rem;
        left: 2rem;
        right: 2rem;
    }
    .hero-front-info {
        font-size: 1.4rem;
    }
    .hero-front-info_name {
        left: 2rem;
    }

    /* Form section */
    .form {
        margin-top: 12rem;
        max-width: 47.5rem;
    }
    .form label:nth-of-type(4) {
        margin-left: 6rem;
    }
    input[name="cardHolderName"] {
        margin-bottom: 3.2rem;
    }
    .warning {
        margin-bottom: 1.6rem;
    }

    /* Confirmation section */
    .greating {
        margin-top: 12rem;
        max-width: 47.5rem;
    }
}

@media only screen and (min-width: 1280px) {
    .content {
        flex-direction: row;
        align-items: stretch;
        height: 100%;
        margin: 0;
    }

    /* Hero section */
    .hero {
        font-size: 2.2rem;
        width: auto;
        background-image: url("/images/bg-main-desktop.png");
        padding: 0;
        width: 48rem;
        justify-content: center;
        flex-direction: column-reverse;
        height: auto;
        gap: 2rem;
    }

    .hero-front_img,
    .hero-back_img {
        width: 44rem;
    }
    .hero-back {
        margin: 0;
        margin-left: 30rem;
    }
    .hero-front {
        margin: 0;
        margin-left: 20rem;
    }
    .hero-front_imgLogo {
        position: absolute;
        width: 6rem;
        left: 3rem;
        top: 3rem;
    }
    .hero-front-numbers {
        gap: 2rem;
        left: 3rem;
        right: 3rem;
    }
    .hero-front-info {
        font-size: 1.6rem;
    }
    .hero-front-info_name {
        left: 3rem;
    }

    /* Form section */
    .form {
        align-self: center;
        margin-top: 0;
        max-width: 47.5rem;
        margin-left: auto;
        margin-right: auto;
    }

    /* Confirmation section */
    .greating {
        margin: 0;
        margin: auto;
    }
}

@media only screen and (min-width: 1440px) {
    .hero-back {
        margin-left: 60rem;
    }
    .hero-front {
        margin: 0;
        margin-left: 40rem;
    } 
}